language: node_js
node_js:
  - "14"
install:
  - mkdir coverage
  - npm ci
script:
  - npm run build
  - ./node_modules/.bin/coveralls < ./coverage/lcov.info
  
deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    tags: true